body {
  background: radial-gradient(circle, #335233, #6060c9);
}
.main {
  background-color: #49b9f5;
  height: 300px;
  width: 50%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 200px;
  flex-direction: column;
}
.main_a {
  margin-bottom: 10px;
}
.main_b {
  margin-top: 50px;
}
a {
  color: #0e1010;
  padding: 25px;
  border: 3px solid rgb(239, 239, 243);
  text-decoration: none;
  border-radius: 20px;
}
a:hover {
  color: rgb(12, 4, 4);
  background-color: #f0eae7;
}
a:active {
  color: rgb(1, 17, 12);
  background-color: #5fc1aa;
}
@media only screen and (max-width: 680px) {
  a {
    display: flex;
    flex-direction: row;
  }
}
