body {
  background-color: #6c35ea;
}
.main {
  background-color: #5fde8e;
  height: 300px;
  width: 50%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 200px;
}
a {
  color: #0e1010;
  padding: 25px;
  border: 3px solid rgb(239, 239, 243);
  text-decoration: none;
  border-radius: 20px;
}
a:hover {
  color: rgb(12, 4, 4);
  background-color: #df622c;
}
a:active {
  color: rgb(1, 17, 12);
  background-color: #5fc1aa;
}
@media only screen and (max-width: 680px) {
  a {
    display: flex;
    flex-direction: row;
  }
}
