body{
    background-color: rgb(5, 83, 24);
}
.main{
    background-color: rgb(202, 198, 188);
    height: 200px;
    width: 35%;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-top: 200px;
}
a{
    color: rgb(6, 2, 247);
    padding: 30px;
    border: 3px solid rgb(4, 4, 21);
    text-decoration: none;
    border-radius: 20px;
}
a:hover{
    color: red;
    background-color: aquamarine;
}
a:active{
    color: aquamarine;
    background-color: cornflowerblue;
 
}