body {
  margin: 0%;
  width: 100%;
  font-family: sans-serif;
}
nav {
  width: 100%;
  height: 75px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  /* border-bottom: 2px solid rgb(163, 163, 163); */
}
#nav-left,
#nav-right {
  display: flex;
  align-items: center;
  padding: 0 26px;
}
#nav-left img {
  height: 50px;
}
#nav-right img {
  height: 50px;
  float: right;
  border-radius: 50%;
}
h2 {
  padding-left: 5px;
}
/* navbar over */
#main-container {
  height: 100%;
  width: 100%;
  border-top: 2px solid rgb(163, 163, 163);
  display: flex;
}
ul {
  list-style-type: none;
  padding-left: 8px;
}
#side-container {
  width: 170px;
  height: 100vh;
  border-right: 2px solid rgb(163, 163, 163);
  padding: 10px;
  display: flex;
}
li {
  padding: 10px 0;
}
h4 {
  font-weight: 100;
  text-decoration: underline;
}
/* sidebar over */
#sub-main {
  width: calc(100% - 200px);
}
#main {
  padding-left: 50px;
  padding-top: 30px;
  width: 75%;
}
.form-sec-1,
.form-sec-2,
.form-sec-3 {
  display: flex;
  justify-content: space-between;
}
.form-sec-3-right {
  width: 27.4vw;
}
.radio-1 {
  display: flex;
}
span {
  color: red;
}
.sec-1-name,
.sec-1-last,
.sec-2-mobile,
.sec-2-email,
.sec-3-branch {
  margin-bottom: 10px;
}
input[type="text"] {
  width: 27.4vw;
  height: 40px;
}
input[type="tel"] {
  width: 27.4vw;
  height: 40px;
}
input[type="email"] {
  width: 27.4vw;
  height: 40px;
}
.form-sec-2,
.form-sec-3 {
  margin-top: 20px;
}
.form-sec-1 {
  margin-top: 35px;
}
select {
  width: 27.4vw;
  height: 40px;
  color: #555555;
}
.address,
.check-box {
  margin-top: 25px;
}
.btn {
  margin-left: 70%;
  margin-top: 2%;
}
input[type="reset"],
input[type="submit"] {
  height: 35px;
  width: 130px;
  border-radius: 20px;
  border: 0px;
  font-weight: 300;
  text-decoration: none;
}
input[type="reset"] {
  background-color: rgb(255, 114, 97);
  margin-right: 20px;
  color: #fff;
}
input[type="submit"] {
  background-color: rgb(59, 185, 137);
  color: #fff;
}
.check {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
/* done */
@media screen and (max-width: 1500px) {
  .btn {
    margin-left: 60%;
    text-align: end;
  }
}
@media screen and (max-width: 1200px) {
  .form-sec-1,
  .form-sec-2,
  .form-sec-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .btn {
    margin-left: 20%;
    text-align: end;
  }
}
@media screen and (max-width: 820px) {
  #side-container {
    width: 97px;
  }
  #main {
    padding-left: 16px;
    width: auto;
  }
  .btn {
    text-align: end;
  }
}
@media screen and (max-width: 576px) {
  .btn {
    margin: auto;
    margin-top: 15px;
    text-align: center;
    margin-bottom: 25px;
  }
  #main {
    width: 100%;
    padding-left: 0;
  }
  #side-container {
    display: none;
  }
  #sub-main {
    width: 100%;
  }
  .form-sec-1,
  .form-sec-2,
  .form-sec-3 {
    padding: 0 20px;
  }
  .form-sec-1-left {
    width: 100%;
    margin-bottom: 10px;
  }
  input[type="text"] {
    width: 98%;
    height: 40px;
  }
  .form-sec-1-right {
    width: 100%;
  }
  .form-sec-2-left {
    width: 100%;
    margin-bottom: 10px;
  }
  input[type="tel"] {
    width: 98%;
    height: 40px;
  }
  .form-sec-2-right {
    width: 100%;
  }
  input[type="email"] {
    width: 98%;
    height: 40px;
  }
  .form-sec-3-left {
    width: 100%;
    margin-bottom: 10px;
  }
  select {
    width: 100%;
    height: 40px;
  }
  .check-box,
  .address,
  .btn {
    padding: 0 20px;
  }
  textarea {
    width: 90%;
  }
  .check {
    flex-direction: column;
  }
  #form-h {
    padding-left: 20px;
  }
  input,
  select,
  textarea {
    border-radius: 0;
    border: 1px solid rgb(163, 163, 163);
  }
  #nav-left,
  #nav-right {
    padding: 0 3px;
  }
  .form-sec-3-right {
    width: auto;
  }
  #nav-left {
    width: 80%;
  }
  select {
    width: 89.5vw;
    height: 12vw;
  }
}
