body {
  background-color: #ffffff;
  margin: 0 auto;
}
h1 {
  color: #535353;
}
#navbar {
  background-color: #ffffff;
  height: 80px;
  border-bottom: 1px solid #535353;
}
#logobx {
  display: flex;
  align-self: center;
  float: left;
  justify-content: center;
}
#profilebx {
  float: right;
  width: auto;
}
#logobx img {
  height: 50px;
  width: 50px;
}
#profilebx img {
  height: 60px;
  border-radius: 50%;
}
.container {
  display: flex;
  width: 100vw;
  height: calc(100vh - 81px);
}
#sidebar {
  background-color: #ffffff;
  height: calc(100vh - 81px);
  width: 200px;
  float: left;
  border-right: 1px solid #535353;
}
a {
  display: block;
  padding: 15px;
  color: #535353;
  text-decoration: none;
}
h3 {
  text-decoration: underline;
  padding-left: 20px;
}
span {
  color: red;
}
.main {
  width: calc(100vw - 201px);
  padding-left: 20px;
}
.first {
  display: flex;
  float: left;
}
.second {
  display: flex;
  float: right;
}
.form-1,
.form-2,
.form-3 {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
}
.form-3 .second {
  display: block;
}
