body {
  background-color: #ffffff;
  margin: 0 auto;
}
h1 {
  color: #535353;
}
#navbar {
  background-color: #ffffff;
  height: 80px;
  border-bottom: 1px solid #535353;
}
#logobx {
  display: flex;
  align-self: center;
  float: left;
  justify-content: center;
}
#profilebx {
  float: right;
  width: auto;
}
#logobx img {
  height: 50px;
  width: 50px;
}
#profilebx img {
  height: 60px;
  border-radius: 50%;
}
.container {
  display: flex;
  width: 100vw;
  height: calc(100vh - 81px);
}
#sidebar {
  background-color: #ffffff;
  height: calc(100vh - 81px);
  width: 200px;
  float: left;
  border-right: 1px solid #535353;
}
a {
  display: block;
  padding: 15px;
  color: #535353;
  text-decoration: none;
}
.main {
  padding: 0 30px 0 30px;
}
h3 {
  text-decoration: underline;
  padding: 3px;
  color: #535353;
}
table {
  width: calc(100vw - 201px);
}
