body {
  background-color: white;
  margin: 0 auto;
}
#navbar {
  background-color: #fdfbfb;
  height: 80px;
  border-bottom: 1px solid #ebe6e6;
}
#logobx {
  display: flex;
  align-self: center;
  float: left;
}
#profilebx {
  float: right;
  width: auto;
}
#logobx img {
  height: 50px;
  width: 50px;
}
#profilebx img {
  height: 60px;
  border-radius: 50%;
}
#sidebar {
  background-color: #eee8e8;
  height: calc(100vh - 81px);
  width: 200px;
  float: left;
}
