:root {
  --text-color: #fff;
  --space: 12px;
}
.sidebar {
  background-color: rgb(46, 43, 43);
  width: 200px;
  height: calc(100vh - 80px);
  color: var(--text-color);
  padding: 0;
}

.sidebar a {
  color: var(--text-color);
}

.sidebar a.active {
  text-decoration: underline;
}

.sidebar .nav-link span {
  padding-left: var(--space);
}
.sidebar a:hover {
  color: darkgreen;
}
.sidebar .nav-link svg {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }
}
