body {
  background-color: #331919;
  margin: 0;
}
#title {
  background-color: #533261;
  height: 80px;
  width: 100vw;
  margin: 15px 0 15px 0;
  display: flex;
  align-self: center;
}
.first {
  float: left;
  width: 75%;
  display: flex;
}
.second {
  float: right;
  display: flex;
  align-self: center;
  padding: 10px;
}
.first img {
  height: 50px;
  align-self: center;
}
.first h1 {
  color: aliceblue;
}
.second a {
  color: aliceblue;
  padding: 0 20px;
  text-decoration: none;
}
.second a:hover {
  background-color: blue;
  color: blueviolet;
  padding: 20px;
}
.main {
  background-color: rgb(229, 232, 235);
  height: 300px;
  width: calc(100vw - 30px);
  padding: 10px;
  margin: 15px 0 15px 0;
  align-self: center;
  overflow: hidden;
}
.b1 {
  background-color: #85df7f;
  height: 200px;
  float: left;
  width: 30%;
  padding: 20px;
  margin-top: 20px;
  margin-left: 20px;
  overflow: hidden;
}
.b2 {
  background-color: #85df7f;
  height: 200px;
  float: right;
  width: 30%;
  padding: 20px;
  margin-top: 20px;
  margin-right: 20px;
  overflow: hidden;
}
#b {
  border: 6px;
}
#finalbox {
  height: 300px;
  width: calc(100vw - 53px);
  background-color: #dadada;
  margin: 0;
  border: 15px solid #bb413f;
  padding: 10px;
}
@media only screen and (max-width: 650px) {
  .second {
    display: none;
  }
  .main {
    height: 500px;
    padding: 0;
  }
  .b1 {
    display: block;
    width: 100vw;
    margin: 20px 0 20px 0;
    padding: 20px;
  }
  .b2 {
    display: block;
    width: 100vw;
    margin: 20px 0 20px 0;
    padding: 20px;
  }
}
