body {
  background-color: white;
  margin: 0 auto;
}
#navbar {
  background-color: #625c5c;
  height: 80px;
  border-bottom: 1px solid #ebe6e6;
}
#logobx {
  display: flex;
  align-self: center;
  float: left;
}
h1 {
  color: white;
}
#profilebx {
  float: right;
  width: auto;
}
#logobx img {
  height: 50px;
  width: 50px;
}
#profilebx img {
  height: 60px;
  border-radius: 50%;
}
.green-bg {
  background-color: #0ace82;
}
.purple-bg {
  background-color: #a259ff;
}
.red-bg {
  background-color: #f34e1e;
}
.cyan-bg {
  background-color: #1abcfd;
}
.orange-bg {
  background-color: #ff7261;
}
.gray-bg {
  background-color: #625c5c;
}
#container > h2 {
  color: black;
  margin: 0 0 15px 0;
  text-decoration: underline;
}
#tilebx {
  margin-bottom: 15px;
}
#tilebx,
#circlebx {
  display: flex;
}
#tilebx > div,
#circlebx > div {
  margin-right: 15px;
}
#tilebx > div:last-child,
#circlebx > div:last-child {
  margin-right: 0;
}
.tile h2,
.tile h3 {
  color: white;
}
.main {
  height: calc(100vh - 81px);
  position: relative;
  overflow: hidden;
}
#sidebar {
  background-color: #625c5c;
  height: 100%;
  width: 200px;
  float: left;
}
#container {
  background-color: white;
  float: left;
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 240px);
}
.tile {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% / 4);
}
.circle,
.chart {
  width: calc((100%) / 4);
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circle,
.chart {
  height: calc((100vw - 240px) / 4);
}
.circle {
  border-radius: 50%;
}
.inner-one {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-one > h3 {
  color: white;
}
.inner-two {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.inner-three {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff7261;
}
.inner-four {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a159fe;
}
.bar {
  width: 15px;
  position: absolute;
}
.chart {
  position: relative;
  display: block;
}
.chart div {
  bottom: 0;
}
.one {
  left: 0;
  height: calc(100% - 30px);
}
.two {
  left: 35px;
  height: calc(100% - 10px);
}
.three {
  left: 70px;
  height: calc(100% - 40px);
}
.four {
  left: 105px;
  height: calc(100% - 15px);
}
.five {
  left: 140px;
  height: calc(100% - 60px);
}
.six {
  left: 175px;
  height: calc(100% - 35px);
}
.line {
  width: 100%;
  height: 15px;
  position: absolute;
}
#sidebar nav {
  display: flex;
  flex-direction: column;
  padding: 25px 30px 30px 30px;
}
#sidebar nav a:first-child {
  padding: 0;
}
#sidebar nav a {
  color: white;
  padding-top: 10px;
}
#sidebar nav a.active {
  text-decoration: none;
  color: rgb(62, 215, 62);
}
